@tailwind base;
@tailwind components;
@tailwind utilities;

  /* styles/globals.css */

  body.light {
    --bg-color: #ffffff;
    --text-color: #000000;
    --border-color: #e2e8f0;
    --primary-color: #3a86ff;
    --primary-foreground-color: #ffffff;
  }
  
  body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
    --border-color: #333;
    --primary-color: #3a86ff;
    --primary-foreground-color: #000000;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .bg-background {
    background-color: var(--bg-color);
  }
  
  .border-b {
    border-bottom-color: var(--border-color);
  }
  
  .text-primary {
    color: var(--primary-color);
  }
  
  .bg-primary {
    background-color: var(--primary-color);
  }
  
  .text-primary-foreground {
    color: var(--primary-foreground-color);
  }

  